@page "/okr/review"
<section id="content" class="column has_sidebar ">
    <!--!--><!--!--><!--!--><!--!-->

    <div class="tabs">
        <!--!--><div class="tabs_name">
            Đánh giá OKRs
        </div>
        <ul>
            <li class="is-active"><!--!--><a class="has-text-weight-normal">Cá nhân</a></li><!--!-->
            <li class=""><!--!--><a class="has-text-weight-normal" href="/okr/review/viewTeam">Đội nhóm</a></li>
        </ul>
    </div><!--!-->

    <section class="main_content">
        <div class="">
            <div class="inner_section">
                <table class="table is-fullwidth is-vcentered is-noborder is-responsive">
                    <!--!-->
                    <thead>
                        <tr class="is-size-7" style="border-bottom: 1px solid #DEDEDE;">
                            <th class="pt-0">Mục tiêu</th>
                            <th class="pt-0" width="60px"></th>
                            <th class="pt-0" width="130px" align="center">Tiến độ</th>
                            <th class="pt-0" width="120px" align="center">Điểm hệ thống</th>
                            <th class="pt-0" width="120px" align="center">Tự đánh giá</th>
                            <th class="pt-0" width="120px" align="center">QL đánh giá</th>
                            <th class="pt-0" width="110px" align="center">Nhân viên</th>
                            <th class="pt-0" width="110px" align="center">Quản lý</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*Dictionnary chứa cả okr và okrcheckin *@
                        @foreach (var okr in data)
                        {
                            // lọc đúng cycle
                            @if(okr.Key.cycle == layoutmain.cycid)
                            {
                                
                            double result;
                            double pointman ;
                            if (okr.Value.id == null) pointman = CalManKey(okr.Key.key_results);
                            else pointman = CalMan(okr.Value.key_results);
                            if(okr.Value.id == null)
                            {
                             result = siuu(CalPercentKey(okr.Key.key_results), CalPercentTagertKey(okr.Key.key_results));
                            }
                            else {
                                 result = siuu(CalPercent(okr.Value.key_results), CalPercentTagert(okr.Value.key_results));
                            }
                            double staff_point = 0;
                            staff_point = okr.Value.id == null ? CalYouKey(okr.Key.key_results) : CalYou(okr.Value.key_results);
                            double per = okr.Value == null ? 0 : CalPercent(okr.Value.key_results);
                            double tar = okr.Value == null ? 0 : CalPercentTagert(okr.Value.key_results);
                            <tr>
                                <td><div class="is-flex"><a class="has-text-weight-semibold has-text-link" href="/okr/review/@okr.Key.id/@okr.Value.id"> @okr.Key.name </a></div></td><!--!-->
                                <td align="right">
                                    <span class="icon-text">
                                        <a class="icon"
                                       @onclick="() => ToggleOKR(okr.Key.id)"><i class="material-icons-outlined is-size-5">arrow_right</i></a>
                                    </span>
                                </td><!--!-->
                                <td>
                                    <!--!--><label class="td-label">Tiến độ</label>
                                    <div class="td-value">
                                        <div class="progress_has_value">
                                            <progress class="progress is-small is-dark" value="@siuu(per,tar)" max="100"></progress><!--!-->
                                            <span> @siuu(per,tar) %</span>
                                        </div>
                                    </div>
                                </td><!--!-->
                                <td align="center">
                                    <!--!--><label class="td-label">Điểm hệ thống</label>
                                    <div class="td-value">
                                        <div class="input is-centered has-text-weight-semibold is_bg">
                                            @siuu(per,tar)    <!--!-->%
                                        </div>
                                    </div>
                                </td><!--!-->
                                <td align="center">
                                    <!--!--><label class="td-label">Tự đánh giá</label>
                                    <div class="td-value">
                                        <div class="input is-centered has-text-weight-semibold is_bg">
                                                @Math.Round((decimal)staff_point, 2) <!--!-->%
                                        </div>
                                    </div>
                                </td><!--!-->
                                <td align="center">
                                    <!--!--><label class="td-label">QL đánh giá</label>
                                    <div class="td-value">
                                        <div class="input is-centered has-text-weight-semibold is_bg">
                                         @pointman    <!--!-->%
                                        </div>
                                    </div>
                                </td><!--!-->
                                <td align="center">
                                    <!--!--><label class="td-label">Nhân viên</label>
                                    
                                    <div class="td-value"><span class="has-text-grey">
                                            @if (okr.Key.review_send_date != 0)
                                                @(new DateTime(okr.Key.review_send_date).ToString("HH:mm dd/MM/yyyy"))
                                        </span>
                                    </div>
                                </td><!--!-->
                                <td align="center">
                                    <!--!--><label class="td-label">Quản lý</label>
                                    <div class="td-value">
                                        <span class="has-text-grey">
                                            @if (okr.Key.review_manager_date != 0)
                                                @(new DateTime(okr.Key.review_manager_date).ToString("HH:mm dd/MM/yyyy"))


                                        </span>
                                    </div>
                                </td>
                            </tr>

                            <!--!-->
                            @if (hiddenList.Contains(okr.Key.id))
                            {
                                //nếu như okr chưa checkin thì show của okr
                                @if (okr.Value.id == null)
                                {
                                    @foreach (var KeyR in okr.Key.key_results)
                                    {

                                        <tr>
                                            <td class="pl-4"> @KeyR.name</td><!--!-->
                                            <td class="td-hide"></td>
                                            <td>
                                                <!--!--><label class="td-label">Tiến độ</label>
                                                <div class="td-value">
                                                    <span class="has-text-success" title="  / 100.000">  @KeyR.result/@KeyR.target</span><!--!-->
                                                    <span class="is-pulled-right">%</span>
                                                </div>
                                            </td><!--!-->
                                            <td align="center">
                                                <!--!--><label class="td-label">Điểm hệ thống</label>
                                                <div class="td-value">
                                                    <div class="input is-centered has-text-weight-semibold is_bg">
                                                        @siuu(KeyR.result,KeyR.target)  <!--!-->%
                                                    </div>
                                                </div>
                                            </td><!--!-->
                                            <td align="center">
                                                <!--!--><label class="td-label">Tự đánh giá</label>
                                                <div class="td-value">
                                                    <div class="input is-centered has-text-weight-semibold is_bg">
                                                        @KeyR.review_data.staff_point <!--!-->%
                                                    </div>
                                                </div>
                                            </td><!--!-->
                                            <td align="center">
                                                <!--!--><label class="td-label">QL đánh giá</label>
                                                <div class="td-value">
                                                    <div class="input is-centered has-text-weight-semibold is_bg">
                                                        @KeyR.review_data.manager_point <!--!-->%
                                                    </div>
                                                </div>
                                            </td><!--!-->
                                            <td align="center"></td>
                                            <td align="center"></td>
                                        </tr>
                                    }
                                }
                                // đã checkin rồi thì show của okrcheckin
                                else
                                {
                                    @foreach (var KeyR in okr.Value.key_results)
                                    {

                                        <tr>
                                            <td class="pl-4"> @KeyR.name</td><!--!-->
                                            <td class="td-hide"></td>
                                            <td>
                                                <!--!--><label class="td-label">Tiến độ</label>
                                                <div class="td-value">
                                                    <span class="has-text-success" title="  / 100.000">  @KeyR.result/@KeyR.target</span><!--!-->
                                                    <span class="is-pulled-right">%</span>
                                                </div>
                                            </td><!--!-->
                                            <td align="center">
                                                <!--!--><label class="td-label">Điểm hệ thống</label>
                                                <div class="td-value">
                                                    <div class="input is-centered has-text-weight-semibold is_bg">
                                                        @siuu(KeyR.result,KeyR.target)  <!--!-->%
                                                    </div>
                                                </div>
                                            </td><!--!-->
                                            <td align="center">
                                                <!--!--><label class="td-label">Tự đánh giá</label>
                                                <div class="td-value">
                                                    <div class="input is-centered has-text-weight-semibold is_bg">
                                                        @KeyR.staff_point  <!--!-->%
                                                    </div>
                                                </div>
                                            </td><!--!-->
                                            <td align="center">
                                                <!--!--><label class="td-label">QL đánh giá</label>
                                                <div class="td-value">
                                                    <div class="input is-centered has-text-weight-semibold is_bg">
                                                        @KeyR.manager_point <!--!-->%
                                                    </div>
                                                </div>
                                            </td><!--!-->
                                            <td align="center"></td>
                                            <td align="center"></td>
                                        </tr>
                                    }

                                }
                            }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>
@code {
    [CascadingParameter]
    public MainLayout layoutmain { get; set; }
    List<okrModel> listOkr = new();
    Dictionary<okrModel, OkrCheckInModel> data = new();
    private List<string> hiddenList = new();

    protected override async Task OnInitializedAsync()
    {
        hiddenList = listOkr.Select(x => x.id).ToList();
        listOkr = await DbOkr.GetByUserID(layoutmain.IdU);
        FoMartData();
    }
    // format okr và okrcheckin thành Dictionnary data
    private async Task FoMartData()
    {
        foreach (var orkcc in listOkr)
        {
            //List<OkrCheckInModel> okrCheckin = await DbOkrCheckin.GetByOkrID(orkcc.id);
            //OkrCheckInModel> okrCheckin = await DbOkrCheckin.GetByOkrID(orkcc.id);
            OkrCheckInModel okrCheckin = await DbOkrCheckin.GetByOkrID(orkcc.id);
            if (okrCheckin == null)
            {
                okrCheckin = new();
            }
            data.Add(orkcc, okrCheckin);
        }
    }
    //toggle để hiện nhưng thanh Key ở dưới okr
    private void ToggleOKR(string id)
    {
        if (!hiddenList.Contains(id))
            hiddenList.Add(id);
        else
            hiddenList.RemoveAll(x => x == id);
    }
    // các phương thức tính
    private double CalPercent(List<OkrCheckInModel.KeyResult> keys)
    {
        double result = 0;

        foreach (var key in keys)
        {
            var k = key.result;
            result += k;
        }
        return result;
    }
    private double CalPercentKey(List<okrModel.KeyResult> keys)
    {
        double result = 0;

        foreach (var key in keys)
        {
            var k = key.result;
            result += k;
        }
        return result;
    }
    private double CalPercentTagert(List<OkrCheckInModel.KeyResult> keys)
    {
        double target = 0;

        foreach (var key in keys)
        {
            var k = key.target;
            target += k;
        }
        return target;
   
    }
    private double CalPercentTagertKey(List<okrModel.KeyResult> keys)
    {
        double target = 0;

        foreach (var key in keys)
        {
            var k = key.target;
            target += k;
        }
        return target;
    }
    private double CalYou(List<OkrCheckInModel.KeyResult> keys)
    {
        double result = 0;

        foreach (var key in keys)
        {
            var k = key.staff_point;
            result += k;
        }
        return result / keys.Count();

    }
    private double CalYouKey(List<okrModel.KeyResult> keys)
    {
        double result = 0;

        foreach (var key in keys)
        {
            var k = key.review_data.staff_point;
            result += k;
        }
        return result/keys.Count();
    }
    private double CalMan(List<OkrCheckInModel.KeyResult> keys)
    {
        double result = 0;

        foreach (var key in keys)
        {
            var k = key.manager_point;
            result += k;
        }
        return result / keys.Count();

    }
    private double CalManKey(List<okrModel.KeyResult> keys)
    {
        double result = 0;

        foreach (var key in keys)
        {
            var k = key.review_data.manager_point;
            result += k;
        }
        return result / keys.Count();
    }
    private double siuu(double a, double b)
    {
        if (a == 0 || b == 0)
            return 0;
        double result = a / b * 100;
        if (result > 100) result = 100;
        return Math.Round(result, 2);
    }

}
